:root{
    --bg-primary-: #e5e6ea;
    --bg-secondary-: #fefeff;
    --bg-summary-: #f5f4f7;
    --text-primary: #020203;
    --text-secondary: #636262;
    --button-danger: #fa7272;
    --button-ckeckout: #5d50dd;
    --summary-w: 740px;
    --container--w: 90%;
    --padding-main: 120px;
    --margin-fixed: 55px;
    --divider-h: 2px;
    --text-product-size: 36px;
    --text-remove-size: 29px;
    --text-title-tb-size: 36px;
    --text-title-tb-weight: bold;
    --text-title-size: 50px;
    --text-tile-weight: bold;
    --text-title-let-space: -1px;
}



body{
    background-color: antiquewhite;
}